<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>keyboardTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50CC2FE11C06536A00388DB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50CC2FF51C06536A00388DB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50CC30001C06536A00388DB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
